/* fontAwesome's font path */
$fa-font-path:"../../node_modules/font-awesome/fonts";

/* theme size */
$maxWidth: 1120px;
$breakpoint: 768px;

/* theme color */
$back-color: #fcfff8;
$card-color: #3c9fa5;

h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", Arial, sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: dimgray;
}
