/* fontAwesome's font path (note: add @import to component) */
$fa-font-path:"../../node_modules/font-awesome/fonts";
// @import 'node_modules/font-awesome/scss/font-awesome';

/* theme size */
$maxWidth: 1120px;
$mobilebreakpoint: 768px;
$breakpoint: 1200px;

/* theme font */
$font: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", Arial, sans-serif;

/* theme color */
$bgcolor: #f1f1f1;
$card: #fff;
$highlight: #1aabb3;
$fontcolor: #333;
$logofont: 'Kadwa', serif;
$logocolor: #f7ba2a;

a {
  text-decoration: none;
  color: $fontcolor;
  transition: all .3s ease;
}

h1, h2, h3, h4, h5, h6, p, .meta {
  font-family: $font;
  letter-spacing: .5px;
  a {
    color: $highlight;
  }
}

.meta {
  color: rgba($fontcolor, 0.8);
  background: $bgcolor;
  padding: 3px;
  font-weight: 400;
  font-size: 90%;
}
body {
    /***************** Style Google Translate corner */
    > #google_translate_element {
        font-size: 3rem;
        display: flex;
        position: fixed;
        bottom: 0;
        padding: .2em;
    }
}
.center {
  text-align: center;
  margin: auto;
}
.shadow {
  box-shadow: 0 5px 6px -5px gray;
}
.sereply {
  .thumbnail {
    width: 10%;
    height: 10%;
  }
}
.dim {
  * {
    position: relative;
    z-index: 100;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    // background: rgba(#333, 0.5);
    background: radial-gradient(circle, rgba(#333, 0.7), rgba(#333, 0.5));
    // background: $fontcolor;
  }
}
.ask {
  .el-dialog--small {
    width: 80% !important;
  }
  @media all and (max-width: $mobilebreakpoint) {
    .el-dialog--small {
      width: 95% !important;
      .el-dialog__body {
        padding: 0.5em;
        .v-note-wrapper {
          min-width: 100%;
          min-height: 100%;
          z-index: 9500;
        }
      }
    }
  }
}
#wisdom {
  img {
    max-width: 100%;
  }
  @media all and (max-width: $mobilebreakpoint) {
    #editor {
      margin: 0;
      .v-note-wrapper {
        min-width: 100%;
        min-height: 100%;
        z-index: 9500;
      }
    }
  }
}
.header {
  .el-dialog--small {
    width: 100% !important;
    top: 0% !important;
  }
  .el-dialog__body {
    padding: 1em;
  }
}
// ********************** transition

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-leave-active,
.fade-enter-active {
  transition: opacity .3s ease;
}

// ********************** onebox
aside.onebox {
  border:5px solid #e9e9e9;
  padding: 12px 25px 12px 12px;
  font-size: 0.9em;
}

aside.onebox .onebox-body img {
  max-height: 170px;
  max-width: 20%;
  height: auto;
  float: left;
  margin-right: 10px;
}

aside.onebox .onebox-body {
  clear: both;
}

